services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: gerinus@123
      POSTGRES_DB: mydb
    depends_on:
      - db
    volumes:
      - ./:/app/api
  db:
    image: postgres:13
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: gerinus@123
      POSTGRES_DB: mydb
    ports:
      - 5432:5432